html, body {
    height: 100%;
}
.title{
    text-align: center;
}

.container {
    justify-content: center;
    justify-items: center;
    display: flex;
}

.teamView {
    background-color: blue;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    width: 30%;
    margin: auto;
    padding: 2rem; 
}

.teamPokemon {
    background-color: lightblue;
    padding: 2rem;
    user-select: none;
    margin: 0;
}

.teamPokemon.selected {
    background-color: green;
    padding: 2rem;
    user-select: none;
    margin: 0;
}

.buttons {
    background: none;
    display: grid;
    grid-template-columns: auto;
    gap: 4%;
    margin: auto;
    width: 20%;
}

.button {
    background-color: pink;
    border: none;
}

.typeAdvice{
    background-color: purple;
    margin-top: 2%;
}

.pokedex {
    background-color: red;
    width: 30%;
    margin: auto;
}