html, body {
    height: 100%;
}
.title{
    text-align: center;
}

.container {
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.teamView {
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 30%;
    margin: auto;
    padding: 2rem; 
}

.teamPokemon {
    background-color: lightblue;
    padding: 2rem;
    user-select: none;
    margin: 0;
}

.teamPokemon.selected {
    background-color: green;
    padding: 2rem;
    user-select: none;
    margin: 0;
}

.buttons {
    background: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4%;
    margin: auto;
    width: 20%;
}

.button {
    background-color: pink;
    border: none;
}

.typeAdvice{
    background-color: purple;
    margin-top: 2%;
}

.pokedex {
    background-color: red;
    padding: 0.5rem;
    width: auto;
    height: 100%;
    margin: auto; 
    display: flex;
    flex-direction: column;
}


#pokemonDisplay {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    height: 100%;
    overflow-y: auto;
    justify-items: stretch;
    align-items: stretch;
}

.pokemonListElement {
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: center;
    background-color: pink;
}